<ion-view view-title="Account" data-tap-disabled="true">
  <ion-content>
    <ion-list>
      <h1 id = "google-map">Your Location: {{userLat}} , {{userLong}} </h1>
    </ion-list>
    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable GPS
    </ion-toggle>
    </ion-list>
    <div>
      <label class="item item-input">
        <span class="input-label">Search Radius</span>
        <input type="text" ng-model = "searchWithin">
      </label>
    </div>
    <h3>Nearby Dairies</h3>
    <div ng-repeat="dairy in nearDairies">{{dairy.farmName}}, {{dairy.lat}}, {{dairy.long}}</div>


  </ion-content>
</ion-view>
